{# todo we need to handle the removal of variants also #}
{# @var product \Sylius\Component\Core\Model\ProductInterface|\Sylius\Component\Core\Model\ProductVariantInterface #}
{% set onWishlist = setono_sylius_wishlist_on_wishlist(product) %}
{% set wishlistPath = onWishlist ? path('setono_sylius_wishlist_shop_wishlist_remove', { 'product': product.id }) : path('setono_sylius_wishlist_shop_wishlist_add', { 'product': product.id }) %}
<button data-url="{{ wishlistPath }}" class="wishlist-toggle">
    {% if onWishlist %}
        <i class="heart icon"></i>
    {% else %}
        <i class="heart outline icon"></i>
    {% endif %}
</button>
