<h1>HEJSAN</h1>

{{ form_start(form, { 'action': path('setono_sylius_wishlist_shop_wishlist_update_product_wishlists', { 'product': product.id }) }) }}
    {{ form_row(form.wishlists) }}
{{ form_end(form) }}
