{# @var wishlists \Setono\SyliusWishlistPlugin\Model\WishlistInterface[] #}
{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h1 class="ui monster section dividing header">
        {{ 'setono_sylius_wishlist.ui.wishlists_header'|trans }}
        <div class="sub header">{{ 'setono_sylius_wishlist.ui.wishlists_subheader'|trans }}</div>
    </h1>

    {{ include('@SetonoSyliusWishlistPlugin/shop/wishlist/index/_wishlists.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        h1 {
            max-width: 800px !important;
            margin: 50px auto 120px auto !important;
            text-align: center !important;
            border: 0 !important;
        }

        h1 .sub.header {
            margin-top: 20px !important;
            line-height: 1.7 !important;
        }
    </style>
{% endblock %}
